* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}


/*====container====*/

.content {
	margin: 0 auto;
	width: 80%;
	/*min-height: 800px;*/
	/*background-color: #B4AEA6;*/
}


/*====header=====*/

.main-header {
	height: 100px;
	background-color: #FDBE2E;
	line-height: 100px;
}

.main-header li {
	display: inline-block;
	vertical-align: middle;
	font-weight: 900;
	font-size: 16px;
	margin-right: 30px;
}

.main-header a {
	text-decoration: none;
	color: black;
}


/*=====main====*/

.main-content {
	display: inline-block;
	vertical-align: top;
	width: 65%;
	margin-right: 76px;
}
/*====produce====*/

.produce {
	/*width: 70%;
	display: inline-block;
	vertical-align: top;*/
	margin-top: 60px;
}

.produce h3 {
	font-weight: bolder;
	margin-bottom: 30px;
}

.produce a {
	text-decoration: none;
	color: #F2994A;
	position: relative;
	left: 280px;
}

.box-produce {
	display: inline-block;
	width: 32.33%;
	vertical-align: top;
	margin-bottom: 30px;
}

.box-produce img {
	float:left;
	margin-right: 20px;
	margin-left: 20px;
	max-width: 40%;
}

.box-produce h5 {
	font-size: 18px;
	font-weight: 900;
	margin-bottom: 20px;
}

.box-produce p {
	font-size: 12px;
}

/*====locations====*/

.loactions {
	/*width: 70%;
	display: inline-block;
	vertical-align: top;*/
	margin-top: 60px;
	margin-bottom: 55px;
}

.loactions h3 {
	font-weight: bolder;
	margin-bottom: 30px;
}

.loactions a {
	text-decoration: none;
	color: #F2994A;
	position: relative;
	left: 280px;
	top: 20px;
}

.box-locations {
	display: inline-block;
	width: 48%;
	vertical-align: top;
	margin-bottom: 30px;
	margin-right: 10px;
}

.box-locations img {
	max-width: 55%;
	float: right;
	margin-left: 10px;
}

.box-locations a {
	position: relative;
	left: 170px; 
	top: 55px;
	color: black;
	text-decoration: underline;
}
.box-locations h5 {
	font-size: 18px;
	font-weight: bolder;
	margin-bottom: 20px;
}



/*====signup====*/

.signup {
	width: 27%;
	/*float: right;*/
	display: inline-block;
	vertical-align: top;
	background-color: #F7EDCD;
	/*height: 100%;*/
}

.signup img {
	max-height: 100%;
	max-width: 100%;
	margin-bottom: 40px;
}

.signup form {
	margin-left: 20px;
	font-weight: bolder;
}

.signup fieldset {
	border: none;
}

.signup legend {
	margin-bottom: 20px;
	font-size: 20px;
}

.signup input {
	display: block;
	margin-bottom: 40px;
	margin-top: 10px;
	height: 35px;
	width: 90%;
}

.signup label {
	font-weight: 700;
}

.signup button {
	height: 55px;
	width: 90%;
	font-size: 18px;
	font-weight: 700;
	background-color: #FEC20F;
	border: none;
	margin-bottom: 30px;
	margin-top: 27px;
}


/*====footer====*/

footer {
	height: 100px;
	line-height: 100px;
	background-color: #F2994A;
	color: white;
}

footer p {
	display: inline-block;
}

footer ul {
	/*float: right;*/
	display: inline-block;
	position: relative;
	left: 570px;
}

footer li {
	display: inline-block;
}

footer li a {
	text-decoration: none;
	color: white;
	margin-left: 30px;
}